 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 body {
     min-height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     font-family: 'Segoe UI', sans-serif;
     text-align: center;
     background-color: rgb(237, 237, 237)
 }

 .main-container {
     background-color: white;
     padding: 40px;
     width: 100%;
     max-width: 620px;
     border-radius: 12px;
     box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
 }

 .quote-visualizer {
     margin-top: 28px;
     padding: 20px;
     background-color: rgba(196, 255, 226, 0.795);
     border-radius: 12px;
     margin-bottom:20px;
     display: none;
 }

 .generate-button{
    border-radius:10px;
    padding:10px;
    border:none;
    font-weight: bold;
    margin-top: 20px;
    background-color: rgba(2, 253, 132, 0.795);
}

.quote-text{
    font-weight: bold;
}

.person-text{
    font-size: 15px;
    margin-top: 20px;
    
}